.header-nav-container {
  background-color: #bd9255;
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #bd9255;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav-container .icon-cover {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3e3c3c;
}
.header-nav-container .icon-cover .logo-image {
  width: 94%;
  height: 90%;
}
.header-nav-container .tool-options-cover {
  width: 52%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-container .tool-options-cover .nav-options {
  text-align: center;
  width: 30%;
  height: 100%;
  line-height: 40px;
  padding: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}
.header-nav-container .tool-options-cover .nav-options-selected {
  color: #2863ff;
  -webkit-box-shadow: 0 1px 1px rgba(50, 58, 70, 0.1019607843);
          box-shadow: 0 1px 1px rgba(50, 58, 70, 0.1019607843);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 5px solid #2863ff;
  font-size: 16px;
  font-weight: 600;
  width: 30%;
  height: 100%;
}
.header-nav-container .login-register-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  gap: 5px;
}
.header-nav-container .login-register-container .cart-img-btn {
  all: unset !important;
  position: relative;
}
.header-nav-container .login-register-container .cart-img-btn .cart-img {
  margin-top: 18%;
  cursor: pointer;
}
.header-nav-container .login-register-container .cart-img-btn .cart-count {
  position: absolute;
  background-color: #df4c4c;
  border: 1px solid #df4c4c;
  color: white;
  border-radius: 50%;
  padding: 4px 4px;
  font-size: 8px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header-nav-container .login-register-container .nav-link-loggin-cover {
  all: unset;
  cursor: pointer;
}
.header-nav-container .login-register-container .nav-link-register-cover {
  all: unset;
  cursor: pointer;
}
.header-nav-container .login-register-container .config-icon {
  width: 75%;
  margin-top: 18%;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */