.header-nav-container {
  background-color: #bd9255;
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #bd9255;
  // box-shadow: 0 1px 6px #bd9255;
  display: flex;

  .icon-cover {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e3c3c;

    .logo-image {
      width: 94%;
      height: 90%;
    }
  }

  .tool-options-cover {
    width: 52%;
    height: 100%;
    display: flex;
    align-items: center;

    .nav-options {
      text-align: center;
      width: 30%;
      height: 100%;
      line-height: 40px;
      padding: 0;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #000000;
      font-weight: 600;
      font-size: 16px;
    }

    .nav-options-selected {
      color: #2863ff;
      box-shadow: 0 1px 1px #323a461a;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 5px solid #2863ff;
      font-size: 16px;
      font-weight: 600;
      width: 30%;
      height: 100%;
    }
  }

  .login-register-container {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
    .cart-img-btn {
      all: unset !important;
      position: relative;
      .cart-img {
        margin-top: 18%;
        cursor: pointer;
      }
      .cart-count {
        position: absolute;
        background-color: #df4c4c;
        border: 1px solid #df4c4c;
        color: white;
        border-radius: 50%;
        padding: 4px 4px;
        font-size: 8px;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
    .user-profile-cover {
      all: unset;
      background-color: #bd9255;
      width: 30px;
      height: 30px;
      position: relative;
      .user-icon {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .user-profile-view-cover {
        width: 277px;
        position: absolute;
        top: 30px;
        border: 1px solid #bd9255;
        background-color: #444444;
        color: #aeaeae;
        border-radius: 4px;
        right: 20%;
        z-index: 1;
        .user-profile-view-inner-cover {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 14px;
          .user-name-cover {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 0 10px;
          }
          .user-id-cover {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding-inline: 10px;
          }
          .user-email-cover {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding-inline: 10px;
          }
          .user-prof {
            display: flex;
            width: 100%;
            align-items: center;
            border: 1px solid #bd9255;
            border-left: none;
            border-right: none;
            padding: 10px;
            cursor: pointer;
            &:hover {
              background-color: #bd9255;
            }
          }
          .user-logout-btn-cover {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 10px;
            .logout-btn {
              all: unset;
              width: 85px;
              height: 30px;
              border: 1px solid #bd9255;
              border-radius: 4px;
              text-align: center;
              &:hover {
                background-color: #bd9255;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .nav-link-loggin-cover {
      all: unset;
      cursor: pointer;
    }

    .nav-link-register-cover {
      all: unset;
      cursor: pointer;
    }

    .config-icon {
      width: 75%;
      margin-top: 18%;
      cursor: pointer;
    }
  }
}
