@mixin make-search-box {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.45rem 0.9rem;
  border: 1px solid $borderColor;
  border-radius: 0.25rem;
  outline: none;
  background-color: white;
  @include inputFont;
  @include spaceBetween;
  .search {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none !important;
  }
  svg {
    cursor: pointer;
  }
}
@mixin make-form-date {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.45rem 0.9rem;
  // margin: 1rem 0;
  border: 1px solid $borderColor;
  border-radius: 0.25rem;
  outline: none;
  background-color: white;
  @include inputFont;
  cursor: pointer;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset;
    border-radius: none !important;
    border-top: 1px solid #d6d6d6 !important;
    border-bottom: 1px solid #d6d6d6 !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
