.cart-product-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1b8b8;
    border-radius: 5px;
    overflow: hidden;
  }

  .cart-product-back-btn-cover {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1%;
    padding-left: 3rem;

    .cart-product-back-btn {
      cursor: pointer;
    }

    .cart-product-back-text {
      font-size: 16px;
      font-weight: 500;
      color: #444444;
    }
  }

  .cart-product-cover {
    width: 100%;
    height: 552px;
    .cart-product-main-wrapper {
      width: 100%;
      height: 100%;
      .cart-product-header {
        font-size: 16px;
        font-weight: 500;
        color: #444444;
        height: 10%;
        display: flex;
        align-items: center;
        padding-inline: 9rem;
      }
      .cart-product-render-cover {
        width: 100%;
        height: auto;
        max-height: 60% !important;
        overflow-y: scroll !important;
        &::-webkit-scrollbar {
          width: 6px;
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: #c1b8b8;
          border-radius: 5px;
          overflow: hidden;
        }
        .cart-product-render-outer-cover {
          width: 100%;
          // height: auto !important;
          min-height: 170px !important;
          padding-inline: 9rem;
          .cart-product-render-inner-cover {
            min-width: 934px;
            min-height: 136px;
            display: flex;
            gap: 1%;
            border: 1px solid #d5d5d5;
            padding: 1%;
            margin-bottom: 5px;
            border-radius: 4px;
            .cart-products-img-cover {
              width: 15%;
              height: 100%;
              .cart-products-img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .cart-products-details-cover {
              width: 85%;
              height: 100%;
              .cart-product-title {
                font-size: 14px;
                font-weight: 500;
                color: #444444;
              }
              .cart-product-qty-cover {
                .cart-product-qty {
                  display: flex;
                  align-items: center;
                  height: 45px;
                  gap: 5px;
                  .qty-text {
                    font-size: 14px;
                    font-weight: 500;
                    color: #444444;
                  }
                  .cart-product-qty-btn {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    .cart-product-qty-btn-add {
                      all: unset;
                      border: 1px solid #d5d5d5;
                      padding: 5px;
                      border-radius: 4px;
                      width: 15px;
                      text-align: center;
                    }
                    .cart-product-qty-num {
                      all: unset;
                      border: 1px solid #d5d5d5;
                      padding: 5px;
                      border-radius: 4px;
                      width: 15px;
                      text-align: center;
                    }
                    .cart-product-qty-btn-minus {
                      all: unset;
                      border: 1px solid #d5d5d5;
                      padding: 5px;
                      border-radius: 4px;
                      width: 15px;
                      text-align: center;
                    }
                  }
                }
                .cart-product-price-and-remove-cover {
                  height: 40px;
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;
                  .cart-product-price-cover {
                    height: 35px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #444444;
                    font-size: 14px;
                    font-weight: 500;
                  }
                  .remove-from-cart-cover {
                    .remove-from-cart {
                      all: unset;
                      text-decoration: underline;
                      font-size: 14px;
                      font-weight: 400;
                      color: #bc3838;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .total-price-cover {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 9rem;
        .price-header {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
          color: #444444;
          .total {
            font-weight: 500;
          }
        }
        .price-cover {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
          color: #444444;
          .total {
            font-weight: 500;
          }
        }
      }
      .cart-buy-now-cover {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        .cart-buy-btn {
          width: 279px;
          background-color: #eaa837;
          height: 50px;
          border: 1px solid #eaa837;
          border-radius: 4px;
          color: #ffff;
          font-size: 14px;
        }
      }
    }
    .empty-cart-cover {
      width: 100%;
      height: 100%;

      .empty-cart-inner-cover {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3%;
        .empty-cart-header {
          font-size: 35px;
          font-weight: 500;
          color: #444444;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .go-to-shop-btn {
          all: unset;
          width: 279px;
          background-color: #eaa837;
          height: 50px;
          border: 1px solid #eaa837;
          border-radius: 4px;
          color: #ffff;
          font-size: 14px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
