.testimonial-container {
  width: 100%;
  height: 100%;

  .add-testimonial-cover {
    height: 40%;

    .add-testimonial-inner-cover {
      width: 100%;
      height: 100%;
      padding-inline: 1rem;
      .testimonial-header {
        width: 100%;
        height: 8;
        color: #bd9255;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .add-testimonial-header {
        width: 100%;
        height: 8%;
        color: #bd9255;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .testimonial-input-field-cover {
        width: 100%;
        height: 76%;
        display: flex;

        .testimonial-input-field-img-cover {
          width: 25%;
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .testimonial-logo-upload-img {
            width: 9rem;
            height: 8rem;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            background-image: url("../../../../Assets/Images/guestUser.svg");
            background-position: center;
            background-repeat: no-repeat;

            .file {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer;
            }

            .plus-img-cover {
              position: absolute;
              top: 36%;
              right: 0;
              z-index: 1;
            }
          }

          .testimonial-btn-cover {
            height: 8%;
            margin-top: 1%;
            display: flex;
            align-items: center;
            gap: 3%;

            .cancel {
              all: unset;
              text-align: center;
              cursor: pointer;
              background: none;
              border-radius: 4px;
              width: 92px;
              height: 40px;
              color: #2b2b2b;
              border: 1px solid #2b2b2b;
              font-size: 14px;
            }

            .save {
              all: unset;
              text-align: center;
              cursor: pointer;
              background-color: #2b2b2b;
              border-radius: 4px;
              width: 92px;
              height: 40px;
              color: #ffffff;
              border: 1px solid #2b2b2b;
              font-size: 14px;
            }
          }
        }

        .testimonial-input-filed-cover {
          width: 75%;
          height: 100%;
          padding-top: 2rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 6px;
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #bd9255;
            border-radius: 5px;
            overflow: hidden;
          }

          .testimonial-name-cover {
            display: flex;
            align-items: center;

            .testimonial-label-cover {
              margin-bottom: 15px;
              font-weight: 500;
              display: flex;
              justify-content: center;
              flex-direction: column;
              font-size: 16px;
              color: #bd9255;
              gap: 5px;

              .testimonial-name-input {
                all: unset;
                border: 1px solid #bd9255;
                width: 360px;
                height: 40px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 400;
                padding: 5px;
              }
            }

            .testimonial-achievement-cover {
              margin-bottom: 15px;
              font-weight: 500;
              display: flex;
              justify-content: center;
              flex-direction: column;
              font-size: 16px;
              color: #bd9255;
              margin-left: 2rem;
              gap: 5px;

              .testimonial-title-input {
                all: unset;
                border: 1px solid #bd9255;
                width: 355px;
                height: 40px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 400;
                padding: 5px;
              }
            }
          }

          .testimonial-title-cover {
            display: flex;
            align-items: center;

            // .testimonial-label-cover {
            //   margin-bottom: 15px;
            //   font-weight: 500;
            //   display: flex;
            //   justify-content: center;
            //   flex-direction: column;
            //   font-size: 16px;
            //   color: #bd9255;
            //   gap: 5px;

            // .testimonial-title-input {
            //   all: unset;
            //   border: 1px solid #bd9255;
            //   width: 569px;
            //   height: 40px;
            //   border-radius: 5px;
            //   font-size: 14px;
            //   font-weight: 400;
            //   padding: 5px;
            // }
            // }

            .testimonial-time-cover {
              margin-bottom: 15px;
              font-weight: 500;
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 20rem;
              font-size: 16px;
              color: #bd9255;
              margin-left: 2rem;
              gap: 5px;

              .testimonial-time-input {
                all: unset;
                border: 1px solid #bd9255;
                width: 160px;
                height: 40px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 400;
                padding: 5px;
              }
            }
          }

          .testimonial-location-cover {
            margin-bottom: 15px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 16px;
            color: #bd9255;
            gap: 5px;

            .testimonial-location-text-area {
              all: unset;
              border: 1px solid #bd9255;
              width: 571px;
              height: 75px;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 400;
              padding: 5px;

              &::-webkit-scrollbar {
                width: 6px;
                background: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background: #bd9255;
                border-radius: 5px;
                overflow: hidden;
              }
            }
          }

          .testimonial-description-cover {
            font-weight: 500;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 16px;
            color: #bd9255;
            gap: 5px;

            .testimonial-description-text-area {
              all: unset;
              border: 1px solid #bd9255;
              width: 760px;
              height: 70px;
              border-radius: 5px;
              font-size: 14px;
              font-weight: 400;
              padding: 5px;

              &::-webkit-scrollbar {
                width: 6px;
                background: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background: #bd9255;
                border-radius: 5px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .testimonial-cards-cover {
    height: 60%;
    border-top: 1px solid #bd9255;
    padding-inline: 1rem;
    .cards-flex {
      display: flex;
      gap: 5px;
      justify-content: space-between;
    }

    .cards-testimonial-header {
      width: 100%;
      height: 2rem;
      color: #bd9255;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .cards {
      width: 350px;
      background-color: #000000;
      height: 360px;
      display: flex;
      border-radius: 5px;

      .card-left {
        width: 7%;
        background-image: url("../../../../Assets//Images/cardLabelSide.svg");
      }

      .card-right {
        width: 93%;

        .card-right-inner-cover {
          width: 100%;
          height: 100%;
          padding: 3%;

          .card-right-header {
            height: 10%;
            display: flex;

            .header-text {
              font-size: 14px;
              font-weight: 500;
              background-color: #bd9255;
              padding: 10px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
          }

          .card-img-cover {
            width: 100%;
            height: 50%;
            overflow: hidden;

            .card-testimonial-img {
              aspect-ratio: 3 / 2;
              object-fit: contain;
              // mix-blend-mode: darken;
            }
          }

          .card-testimonial-title {
            height: 10%;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: white;
            text-transform: uppercase;
          }

          .card-testimonial-date {
            height: 10%;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: white;
            text-transform: uppercase;
          }

          .card-testimonial-time {
            height: 10%;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: white;
            text-transform: uppercase;
          }

          .card-testimonial-location {
            height: 10%;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: white;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
