.video-cards-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1b8b8;
    border-radius: 5px;
    overflow: hidden;
  }
  .video-bg-img-cover {
    width: 100%;
    height: 421px;
    background-image: url("../../../Assets/Images/videoBackGround.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-cards-and-header-cover {
    height: auto;
    width: 100%;

    .video-cards-header-text {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      color: #444444;
    }
    .video-cards-render-cover {
      display: flex;
      gap: 2%;
      padding-inline: 2rem;
      height: auto;
      .video-cards-event-header {
        width: 100%;
        height: 2rem;
        color: #bd9255;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .video-cards-cover {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .video-cards {
          background-color: white;
          width: 275px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          height: 470px;
          margin: 6px;

          .video-cards-img {
            height: 70%;
            width: 100%;
            overflow: hidden;
            .video-thumbnail {
              height: 100%;
              width: 100%;
            }
          }

          .video-cards-content {
            height: 30%;
            border: 1px solid #e0e0e0;
            width: 100%;
            padding: 1% 1%;
            border-top: none;

            .video-title {
              font-size: 18px;
              font-weight: 500;
              padding-bottom: 2%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              height: 25%;
            }

            .video-para {
              font-size: 14px;
              color: #84868b;
              padding-bottom: 3%;
              height: 40%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .video-btn {
              background: black;
              color: white;
              font-size: 14px;
              border-radius: 4px;
              border: none;
              cursor: pointer;
              width: 92px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          // .card-left-cover {
          //   width: 5%;
          //   overflow: hidden;
          //   height: 100%;

          //   .card-label-side-img {
          //     width: 100%;
          //     height: 100%;
          //     object-fit: cover;
          //   }
          // }
        }
      }
    }
  }
  .video-former-text-main-cover {
    width: 100%;
    height: 250px;
    .video-former-text-top-border {
      display: flex;
      align-items: center;
      justify-content: center;
      .video-former-text-top-border-inner {
        width: 63em;
        border-top: 4px solid #bd9255;
      }
    }
    .video-former-text-wrapper {
      font-size: 86px;
      font-weight: 500;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .text-r {
        color: #eb3d3d;
      }
    }
    .video-former-text-student-cover {
      font-size: 18px;
      font-weight: 500;
      color: #bd9255;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }
    .video-former-text-join-btn-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      .video-former-text-join-btn {
        all: unset;
        width: 92px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        background-color: #bd9255;
        color: #ffffff;
        text-align: center;
        border: 1px solid #bd9255;
        border-radius: 4px;
      }
    }
  }
}
