.sign-up-modal-container {
  .sign-up-modal-header {
    display: flex;
    align-items: center;
    justify-content: end;
    .sign-up-modal-close {
      all: unset !important;
      color: #bd9255 !important;
      font-size: 23px;
      cursor: pointer;
    }
  }
  .content-logo-cover {
    width: 100%;
    height: auto;
    .logo-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo-image {
        width: 91px;
        height: 91px;
      }
    }
    .sign-up-text {
      font-size: 50px;
      color: #bd9255;
      font-weight: 700;
      text-align: center;
    }
    .sign-up-member-text {
      font-size: 14px;
      color: #bd9255;
      font-weight: 400;
      text-align: center;
      margin-top: 5px;
    }
  }
  .form-main-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    .first-name-label-cover {
      margin-bottom: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 20rem;
      font-size: 16px;
      color: #bd9255;

      .first-name-input {
        all: unset;
        border-bottom: 1px solid #bd9255;
        height: 30px;
      }
    }
    .last-name-label-cover {
      margin-bottom: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 20rem;
      font-size: 16px;
      color: #bd9255;

      .last-name-input {
        all: unset;
        border-bottom: 1px solid #bd9255;
        height: 30px;
      }
    }
    .contact-label-cover {
      margin-bottom: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 20rem;
      font-size: 16px;
      color: #bd9255;

      .contact-number-input {
        all: unset;
        border-bottom: 1px solid #bd9255;
        height: 30px;
      }
    }
    .email-label-cover {
      margin-bottom: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 20rem;
      font-size: 16px;
      color: #bd9255;

      .email-input {
        all: unset;
        border-bottom: 1px solid #bd9255;
        height: 30px;
      }
    }
    .password-label-cover {
      margin-bottom: 15px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 20rem;
      font-size: 16px;
      color: #bd9255;

      .password-input {
        all: unset;
        border-bottom: 1px solid #bd9255;
        height: 30px;
      }
    }
    .sign-up-btn {
      background-color: #bd9255;
      color: #2b2b2b;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 315px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
  //   .sign-up-cover {
  //     display: flex;
  //     align-items: center;
  //     margin-top: 10px;
  //     justify-content: center;
  //     font-size: 14px;
  //     color: #bd9255;
  //     .sign-up-btn {
  //       all: unset;
  //       color: #bd9255;
  //       border: none;
  //       cursor: pointer;
  //       font-size: 14px;
  //       margin-left: 5px;
  //     }
  //   }
}
