.btn-cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    .place-order-btn {
        all: unset;
        width: 279px;
        height: 50px;
        background-color: #eaa837;
        border-radius: 4px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
    }
}