.admin-gold-scheme-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  h2 {
    color: #bd9255;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .add-deposit-btn {
    padding: 8px 16px;
    background-color: white;
    border: 1px solid #b89153;
    color: #5a3e1b;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f7f2ea;
    }

    &:active {
      background-color: #ebdfc7;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
      border: 1px solid #bd9255;
      padding: 12px;
      text-align: left;
      font-size: 14px;

      &:first-child {
        width: 15%;
      }
    }

    th {
      background-color: #f0e6d2;
      color: #bd9255;
      font-weight: 500;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    // Handle empty state
    tbody {
      tr {
        &.empty {
          td {
            text-align: center;
            font-style: italic;
            color: #bd9255;
          }
        }
      }
    }
  }
}
