.home-page-container {
  width: 100%;
  height: 100%;

  .home-page-cover {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #c1b8b8;
      border-radius: 5px;
      overflow: hidden;
    }

    .home-revolution-logo-cover {
      width: 100%;
      height: 68.25%;
      position: relative;
      .home-revolution-logo {
        width: 100%;
      }
      // width: 100%;
      // background-image: url("../../Assets/Images/logoBackground.svg");
      // background-size: cover;

      .logo-and-btn-cover {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 4%;
        left: 50%;
        right: 50%;

        .logo-img {
          opacity: 0.8;
        }

        .contact-us-btn {
          color: #bd9255;
          outline: none;
          padding: 10px;
          font-size: 16px;
          border-radius: 25px;
          border: 1px solid #bd9255;
          background-color: transparent;
          width: 142px;
          height: 40px;
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            color: white;
            background-color: #bd9255;
          }
        }
      }
    }

    .home-four-icons-cover {
      width: 100%;
      height: 28%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #272727;

      .education-logo-cover {
        position: relative;
        cursor: pointer;

        .education-logo {
          background-color: transparent;
        }

        .img-description {
          position: absolute;
          font-size: 50px;
          font-weight: 500;
          color: #bd9255;
          transform: translate(-27%, -180%);
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &:hover {
          .education-logo {
            opacity: 0.3 !important;
          }

          .img-description {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .sports-logo-cover {
        position: relative;
        cursor: pointer;

        .sports-logo {
          background-color: transparent;
        }

        .img-description {
          position: absolute;
          font-size: 50px;
          font-weight: 500;
          color: #bd9255;
          transform: translate(-5%, -178%);
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &:hover {
          .sports-logo {
            opacity: 0.3 !important;
          }

          .img-description {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .spirituality-logo-cover {
        position: relative;
        cursor: pointer;

        .spirituality-logo {
          background-color: transparent;
        }

        .img-description {
          position: absolute;
          font-size: 50px;
          font-weight: 500;
          color: #bd9255;
          transform: translate(-22%, -180%);
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &:hover {
          .spirituality-logo {
            opacity: 0.3 !important;
          }

          .img-description {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .Politics-logo-cover {
        position: relative;
        cursor: pointer;

        .Politics-logo {
          background-color: transparent;
        }

        .img-description {
          position: absolute;
          font-size: 50px;
          font-weight: 500;
          color: #bd9255;
          transform: translate(3%, -180%);
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &:hover {
          .Politics-logo {
            opacity: 0.3 !important;
          }

          .img-description {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .home-about-us-cover {
      width: 100%;
      // height: 30%;
      background-color: #272727;
      padding: 1% 2% 1% 2%;
      display: flex;
      border-top: 2px solid #bd9255;

      .about-us-header {
        font-size: 83px;
        font-weight: 600;
        color: #bd9255;
        padding-top: 1%;

        .us-text {
          display: flex;
          align-items: center;
          justify-content: end;
        }
      }

      .about-us-description {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        line-height: 25px;
        padding: 3% 5%;
      }
    }

    .home-sponser-cover {
      width: 100%;
      height: 20%;

      img {
        width: 100px;
        height: 100px;
        animation: scroll 10s linear infinite;
        // border-right: 2px solid #bd9255;
        // padding-right: 15%;
      }

      .slide-track {
        width: 100%;
        display: flex;
        gap: 3em;
        overflow: hidden;
      }

      .slider {
        background-color: whitesmoke;
        padding: 1em 2em;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }

        100% {
          transform: translatex(-1000%);
        }
      }
    }

    .home-mission-cover {
      background-color: #272727;
      padding: 1%;
      text-align: center;

      // .mission-left-image-cover {
      //   width: 50%;
      //   height: 100%;
      //   overflow: hidden;

      .mission-img {
        width: 93%;
      }

      // }

      // .mission-right-content-cover {
      //   width: 50%;
      //   background-color: #ffffff;

      //   .mission-header-text {
      //     font-size: 16px;
      //     font-weight: 500;
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     height: 10%;
      //     color: #bd9255;
      //   }

      //   .flower-horizontal-img-cover {
      //     width: 100%;
      //     height: 8%;
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //   }

      //   .mission-content-cover {
      //     width: 100%;
      //     height: 82%;
      //     display: flex;

      //     .inverted-comma-img-cover {
      //       width: 10%;
      //       display: flex;
      //       align-items: flex-start;
      //       justify-content: center;
      //     }

      //     .mission-header-content-cover {
      //       width: 80%;

      //       .mission-header {
      //         width: 100%;
      //         height: 45%;
      //         font-weight: 500;
      //         display: flex;
      //         align-items: center;
      //         justify-content: center;
      //         font-size: 50px;
      //         flex-direction: column;
      //         color: #bd9255;
      //       }

      //       .mission-content {
      //         width: 100%;
      //         height: 55%;
      //         font-size: 16px;
      //         font-weight: 400;
      //         color: #bd9255;
      //         word-break: break-word;
      //       }
      //     }

      //     .comma-img-cover {
      //       width: 10%;
      //       padding-top: 16%;
      //     }
      //   }
      // }
    }

    .home-vision-cover {
      width: 100%;
      height: 80%;
      background-image: url("../../Assets//Images/teamGroupPic.svg");
      background-size: cover;

      .vission-header {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #bd9255;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .vission-description {
        color: #ffffff;
        font-size: 150px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
      }
    }

    .home-events-cover,
    .home-videos-and-news-cover {
      width: 100%;
      height: auto;
      // background-image: url("../../Assets/Images/eventBackground.svg");
      // background-size: cover;

      .event-title {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-weight: 600;
        color: #bd9255;
        text-transform: capitalize;
      }

      .cards-cover {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 10px;
        .cards {
          background-color: #000000;
          width: 350px;
          height: 414px;
          display: flex;
          // height: 100%;

          .card-left-cover {
            width: 5%;
            overflow: hidden;
            height: 100%;

            .card-label-side-img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .card-right-cover {
            width: 95%;
            height: 100%;
            padding: 1rem;
            cursor: pointer;
            .day {
              font-size: 14px;
              font-weight: 400;
              background-color: #bd9255;
              color: #000000;
              padding: 10px;
              width: 130px;
              height: 5%;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: start;
            }

            .marathon-img-cover {
              width: 100%;
              height: 30%;
              object-fit: cover;
              overflow: hidden;

              .marathon-img {
                width: 100%;
                height: 100%;
              }
            }

            .marathon-header {
              font-size: 22px;
              color: #ffffff;
              font-weight: 400;
              height: 10%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .date-cover {
              display: flex;
              align-items: center;
              gap: 10px;
              height: 10%;

              .date {
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
                text-transform: uppercase;
              }
            }

            .time-cover {
              display: flex;
              align-items: center;
              gap: 10px;
              height: 10%;

              .time {
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
                text-transform: uppercase;
              }
            }

            .location-cover {
              display: flex;
              align-items: center;
              gap: 10px;
              height: 16%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              .location {
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
                text-transform: uppercase;
              }
            }

            .contact-us-cover {
              height: 10%;

              .contact-us-btn {
                width: 92px;
                height: 40px;
                color: #ffffff;
                outline: none;
                border: none;
                background-color: #2b2b2b;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
        .view-all-video-card {
          background-color: #000000;
          height: 350px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e0e0e0;
          padding: 5px;
          opacity: 0.9;

          cursor: pointer;
          .view-all-video-nav-link {
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }

      .event-mom-logo-cover {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .view-all-card {
        background-color: #000000;
        width: 200px;
        height: 414px;
        display: flex;

        .left-cover {
          width: 9%;
          overflow: hidden;
          height: 100%;

          .label-side-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .right-cover {
          width: 95%;
          height: 100%;
          padding: 1rem;
          .events-and-news-nav-link {
            text-decoration: none;
            .view-all-btn {
              height: 100%;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .home-testimonial-cover {
      width: 100%;
      height: 420px;
      display: flex;
      .testimonial-container {
        display: flex;
        align-items: center;
        background-color: #282828;
        color: #ffffff;
        padding: 20px;
        gap: 4rem;
        margin: auto;

        .testimonial-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          height: 100%;
          justify-content: center;

          .testimonial-image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin-bottom: 20px;
          }

          .testimonial-text {
            font-size: 1.2rem;
            font-style: italic;
            margin-bottom: 20px;
            position: relative;
            padding-left: 15px;

            &::before {
              content: "“";
              font-size: 2rem;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }

        .testimonial-navigation {
          justify-content: center;
          width: 100px;
          margin-top: 20px;
          gap: 36px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .testimonial-author {
            h3 {
              margin: 0;
              font-size: 1.5rem;
            }
            p {
              margin: 0;
              font-size: 1rem;
              color: #d4af37;
            }
          }
          .action-btn-cover {
            display: flex;
            align-items: center;
            justify-self: center;
            gap: 20px;
            .nav-button {
              background: none;
              border: none;
              color: #ffffff;
              font-size: 2rem;
              cursor: pointer;
            }
          }
        }
      }
    }

    .home-videos-and-news-cover {
      width: 100%;
      height: auto;

      // width: 100%;
      // height: 15%;
      // background-color: rgb(179, 75, 75);
      .heading {
        width: 100%;
        height: 70px;
        font-size: 20px;
        font-weight: 600;
        color: black;
        padding-left: 10%;
        padding-top: 2%;
      }

      .cards-cover {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .cards {
          background-color: white;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          height: 450px;
          height: 350px;
          margin: 5px;
          cursor: pointer;
          .cards-img {
            height: 70%;
            width: 100;
            .thumbnail {
              width: 100%;
              object-fit: cover;
              height: 100%;
            }
          }

          .cards-content {
            height: 30%;
            border: 1px solid #e0e0e0;
            width: 100%;
            padding: 4% 2%;

            .title {
              font-size: 15px;
              font-weight: 500;
              padding-bottom: 3%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              height: 25%;
            }

            .para {
              font-size: 12px;
              color: #84868b;
              height: 45%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .btn {
              width: 22%;
              height: 30%;
              background: black;
              color: white;
              font-size: 11px;
              border-radius: 4%;
              border: none;
              cursor: pointer;
            }
          }

          // .card-left-cover {
          //   width: 5%;
          //   overflow: hidden;
          //   height: 100%;

          //   .card-label-side-img {
          //     width: 100%;
          //     height: 100%;
          //     object-fit: cover;
          //   }
          // }
        }
      }

      // }
    }

    .home-join-community-cover {
      width: 100%;
      height: 75%;
      padding: 3% 10% 1% 10%;

      // background-color: rgb(225, 141, 141);
      .cover-line {
        border-bottom: 5px solid #bd9255;
      }

      .join-now-cover {
        text-align: center;
        padding: 1%;

        .join-cover-para {
          font-size: 15px;
          font-weight: 400;
          padding-bottom: 3%;
          color: #bd9255;
        }

        .join-now-title {
          font-size: 65px;
          color: #000000;
          font-weight: 900;
          padding-bottom: 1%;
          letter-spacing: 55px;
          padding-left: 6%;

          span {
            color: red;
          }
        }

        .join-now-btn {
          background: #bd9255;
          border: none;
          color: white;
          padding: 1%;
          border-radius: 8%;
          cursor: pointer;
        }

        .join-now-para {
          font-weight: 400;
          padding-bottom: 3%;

          p {
            text-transform: uppercase;
            color: #bd9255;
          }
        }
      }
    }

    .slide-container {
      // display: flex;
      // justify-content: space-between;
      // gap: 50px;
      // height: fit-content;

      .back-button {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          @media (max-width: 480px) {
            width: 12px;
          }

          @media (max-width: 350px) {
            width: 10px;
          }
        }
      }

      .next-button {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          @media (max-width: 480px) {
            width: 12px;
          }

          @media (max-width: 350px) {
            width: 10px;
          }
        }
      }

      .home-client-main {
        width: 86%;

        .home-clients-section {
          flex-wrap: wrap;
          width: 100%;
          padding: 12px 20px;
          position: relative;
          border-radius: 100px 0px 100px 0px;
          overflow: hidden;
          z-index: 9;
          box-shadow: 0 8px 40px -5px #091f431a;
          background: #ffffff;

          .home-clients-wrapper {
            border-radius: 0px 50px;
            padding-bottom: 20px;
            width: 100%;
            padding-left: 3%;

            .clients-content-wrapper {
              width: 100%;

              .clients-content-wrapper-image {
                display: flex;

                @media (max-width: 768px) {
                  margin-left: 7%;
                }

                @media (max-width: 983px) {
                  margin-left: 10px;
                }
              }

              .client-desc {
                padding: 0% 0% 0% 7%;
                width: 93%;
                height: 250px;

                p {
                  text-align: left;

                  @media (max-width: 667px) {
                    line-height: 1.7;
                  }

                  .fade {
                    animation: fadeIn 3s;
                  }

                  @keyframes fadeIn {
                    0% {
                      opacity: 0;
                    }

                    100% {
                      opacity: 1;
                    }
                  }
                }

                @media (max-width: 1161px) {
                  padding: 0% 0% 0% 5%;

                  min-height: 300px;
                  font-size: 16px;
                }

                @media (max-width: 1072px) {
                  padding: 0% 0% 0% 5%;

                  min-height: 320px;
                  font-size: 16px;
                }

                @media (max-width: 895px) {
                  min-height: 350px;
                }

                @media (max-width: 822px) {
                  font-size: 14px;
                }

                @media (max-width: 489px) {
                  font-size: 13px;
                  min-height: 373px;
                }

                @media (max-width: 480px) {
                  padding-left: 5px;
                  width: 100%;
                  padding-right: 10px;
                }

                @media (max-width: 401px) {
                  font-size: 13px;
                  min-height: 405px;
                }

                @media (max-width: 369px) {
                  font-size: 13px;
                  min-height: 420px;
                }

                @media (max-width: 359px) {
                  font-size: 13px;
                  min-height: 440px;
                  padding-bottom: 0;
                }

                @media (max-width: 335px) {
                  font-size: 12px;
                  min-height: 450px;
                }
              }
            }
          }

          .clients-logo-wrapper {
            position: absolute;
            bottom: 20px;
            display: flex;
            padding: 0px 0 0 7%;
            width: 93%;
            gap: 10px;
            align-items: center;

            @media (max-width: 768px) {
              width: 100%;
            }

            .clients-logo-wrapper-icon {
              height: 74px;

              @media (max-width: 768px) {
                width: 100%;
                margin-top: 10%;
              }

              img {
                @media (max-width: 480px) {
                  width: 65px !important;
                  margin-top: 5px;
                }

                @media (max-width: 420px) {
                  width: 60px !important;
                  margin-top: 7px;
                }
              }

              @media (max-width: 770px) {
                margin-top: 0;
                align-self: baseline;
                width: auto;
              }

              @media (max-width: 480px) {
                height: 65px;
              }
            }

            .clients-logo-wrapper-author {
              font-size: 14px;
              width: 95%;
              text-align: left;

              .author-heading {
                font-size: 1.5em;

                @media (max-width: 770px) {
                  font-size: 20px;
                }

                @media (max-width: 565px) {
                  margin-top: 0px;
                  font-size: 3.5vw;
                }

                @media (max-width: 445px) {
                  margin-top: 0px;
                  font-size: 14px;
                }
              }

              .para {
                @media (max-width: 768px) {
                  width: "100%";
                }

                @media (max-width: 450px) {
                  font-size: 14px;
                }

                @media (max-width: 400px) {
                  font-size: 13px;
                }

                @media (max-width: 350px) {
                  font-size: 12px;
                  width: 89%;
                }
              }

              @media (max-width: 768px) {
                width: 100%;
              }

              @media (max-width: 557px) {
                height: fill-available;
              }
            }

            @media (max-width: 1072px) {
              padding: 0px 0 0 5%;
            }

            @media (max-width: 895px) {
              height: 100px;
            }

            @media (max-width: 770px) {
              height: auto;
              align-items: center;
              padding: 0;
              width: 93%;
            }
          }

          @media (max-width: 1782px) {
            height: 475px;
          }

          @media (max-width: 1514px) {
            height: 485px;
          }

          @media (max-width: 1316px) {
            height: 505px;
          }

          @media (max-width: 1138px) {
            height: 535px;
          }

          @media (max-width: 1034px) {
            height: 560px;
          }

          @media (max-width: 983px) {
            padding: 12px 0px;
          }

          @media (max-width: 901px) {
            height: 590px;
          }

          @media (max-width: 822px) {
            height: 580px;
          }

          @media (max-width: 784px) {
            height: 580px;
          }

          @media (max-width: 775px) {
            height: 635px;
          }

          @media (max-width: 770px) {
            height: 635px;
          }

          @media (max-width: 692px) {
            height: 685px;
          }

          @media (max-width: 667px) {
            height: 605px;
          }

          @media (max-width: 581px) {
            height: 635px;
          }

          @media (max-width: 505px) {
            height: 675px;
          }

          @media (max-width: 489px) {
            height: 616px;
          }

          @media (max-width: 403px) {
            height: 672px;
          }

          @media (max-width: 370px) {
            height: 619px;
          }

          @media (max-width: 345px) {
            height: 655px;
          }
        }

        .home-clients-section:hover {
          box-shadow: 18px -18px #a5b1ff, 0 8px 40px -5px #091f431a;
          transition: 500ms;

          @media (max-width: 565px) {
            box-shadow: 20px -20px #a5b1ff, 0 8px 40px -5px #091f431a;
          }

          @media (max-width: 667px) {
            box-shadow: none;
          }
        }

        @media (max-width: 667px) {
          width: auto;
        }
      }

      @media (max-width: 932px) {
        gap: 35px;
      }

      @media (max-width: 565px) {
        gap: 30px;
      }

      @media (max-width: 667px) {
        gap: 10px;
      }

      @media (max-width: 480px) {
        gap: 5px;
      }
    }
  }
}
