.home-page-container {
  width: 100%;
  height: 100%;
}
.home-page-container .home-page-cover {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.home-page-container .home-page-cover::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.home-page-container .home-page-cover::-webkit-scrollbar-thumb {
  background: #c1b8b8;
  border-radius: 5px;
  overflow: hidden;
}
.home-page-container .home-page-cover .home-revolution-logo-cover {
  width: 100%;
  height: 80%;
  background-size: cover;
}
.home-page-container .home-page-cover .home-revolution-logo-cover .logo-and-btn-cover {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-page-container .home-page-cover .home-revolution-logo-cover .logo-and-btn-cover .logo-img {
  opacity: 0.8;
}
.home-page-container .home-page-cover .home-revolution-logo-cover .logo-and-btn-cover .contact-us-btn {
  color: #bd9255;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #bd9255;
  background-color: transparent;
  width: 142px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
}
.home-page-container .home-page-cover .home-revolution-logo-cover .logo-and-btn-cover .contact-us-btn:hover {
  color: white;
  background-color: #bd9255;
}
.home-page-container .home-page-cover .home-four-icons-cover {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #272727;
}
.home-page-container .home-page-cover .home-four-icons-cover .education-logo-cover {
  position: relative;
  cursor: pointer;
}
.home-page-container .home-page-cover .home-four-icons-cover .education-logo-cover .education-logo {
  background-color: transparent;
}
.home-page-container .home-page-cover .home-four-icons-cover .education-logo-cover .img-description {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #bd9255;
  -webkit-transform: translate(-27%, -180%);
          transform: translate(-27%, -180%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.home-page-container .home-page-cover .home-four-icons-cover .education-logo-cover:hover .education-logo {
  opacity: 0.3 !important;
}
.home-page-container .home-page-cover .home-four-icons-cover .education-logo-cover:hover .img-description {
  visibility: visible;
  opacity: 1;
}
.home-page-container .home-page-cover .home-four-icons-cover .sports-logo-cover {
  position: relative;
  cursor: pointer;
}
.home-page-container .home-page-cover .home-four-icons-cover .sports-logo-cover .sports-logo {
  background-color: transparent;
}
.home-page-container .home-page-cover .home-four-icons-cover .sports-logo-cover .img-description {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #bd9255;
  -webkit-transform: translate(-5%, -178%);
          transform: translate(-5%, -178%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.home-page-container .home-page-cover .home-four-icons-cover .sports-logo-cover:hover .sports-logo {
  opacity: 0.3 !important;
}
.home-page-container .home-page-cover .home-four-icons-cover .sports-logo-cover:hover .img-description {
  visibility: visible;
  opacity: 1;
}
.home-page-container .home-page-cover .home-four-icons-cover .spirituality-logo-cover {
  position: relative;
  cursor: pointer;
}
.home-page-container .home-page-cover .home-four-icons-cover .spirituality-logo-cover .spirituality-logo {
  background-color: transparent;
}
.home-page-container .home-page-cover .home-four-icons-cover .spirituality-logo-cover .img-description {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #bd9255;
  -webkit-transform: translate(-22%, -180%);
          transform: translate(-22%, -180%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.home-page-container .home-page-cover .home-four-icons-cover .spirituality-logo-cover:hover .spirituality-logo {
  opacity: 0.3 !important;
}
.home-page-container .home-page-cover .home-four-icons-cover .spirituality-logo-cover:hover .img-description {
  visibility: visible;
  opacity: 1;
}
.home-page-container .home-page-cover .home-four-icons-cover .Politics-logo-cover {
  position: relative;
  cursor: pointer;
}
.home-page-container .home-page-cover .home-four-icons-cover .Politics-logo-cover .Politics-logo {
  background-color: transparent;
}
.home-page-container .home-page-cover .home-four-icons-cover .Politics-logo-cover .img-description {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: #bd9255;
  -webkit-transform: translate(3%, -180%);
          transform: translate(3%, -180%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.home-page-container .home-page-cover .home-four-icons-cover .Politics-logo-cover:hover .Politics-logo {
  opacity: 0.3 !important;
}
.home-page-container .home-page-cover .home-four-icons-cover .Politics-logo-cover:hover .img-description {
  visibility: visible;
  opacity: 1;
}
.home-page-container .home-page-cover .home-about-us-cover {
  width: 100%;
  background-color: #272727;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-page-container .home-page-cover .home-about-us-cover .about-us-header {
  font-size: 83px;
  font-weight: 600;
  color: #bd9255;
  border-top: 2px solid #bd9255;
  padding-top: 1%;
}
.home-page-container .home-page-cover .home-about-us-cover .about-us-header .us-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.home-page-container .home-page-cover .home-about-us-cover .about-us-description {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 25px;
  padding: 3% 5%;
  border-top: 2px solid #bd9255;
}
.home-page-container .home-page-cover .home-sponser-cover {
  width: 100%;
  height: 20%;
}
.home-page-container .home-page-cover .home-sponser-cover img {
  width: 100px;
  height: 100px;
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 10s linear infinite;
}
.home-page-container .home-page-cover .home-sponser-cover .slide-track {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  overflow: hidden;
}
.home-page-container .home-page-cover .home-sponser-cover .slider {
  background-color: whitesmoke;
  padding: 1em 2em;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translatex(-1000%);
            transform: translatex(-1000%);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translatex(-1000%);
            transform: translatex(-1000%);
  }
}
.home-page-container .home-page-cover .home-mission-cover {
  background-color: #272727;
  padding: 1%;
  text-align: center;
}
.home-page-container .home-page-cover .home-mission-cover .mission-img {
  width: 93%;
}
.home-page-container .home-page-cover .home-vision-cover {
  width: 100%;
  height: 80%;
  background-image: url("../../Assets//Images/teamGroupPic.svg");
  background-size: cover;
}
.home-page-container .home-page-cover .home-vision-cover .vission-header {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #bd9255;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.home-page-container .home-page-cover .home-vision-cover .vission-description {
  color: #ffffff;
  font-size: 150px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}
.home-page-container .home-page-cover .home-events-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover {
  width: 100%;
  height: 49%;
}
.home-page-container .home-page-cover .home-events-cover .event-title,
.home-page-container .home-page-cover .home-videos-and-news-cover .event-title {
  width: 100%;
  height: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: #bd9255;
  text-transform: capitalize;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards {
  background-color: #000000;
  width: 359px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-left-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-left-cover {
  width: 5%;
  overflow: hidden;
  height: 100%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-left-cover .card-label-side-img,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-left-cover .card-label-side-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover {
  width: 95%;
  height: 100%;
  padding: 1rem;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .day,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .day {
  font-size: 14px;
  font-weight: 400;
  background-color: #bd9255;
  color: #000000;
  padding: 10px;
  width: 130px;
  height: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .marathon-img-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .marathon-img-cover {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .marathon-img-cover .marathon-img,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .marathon-img-cover .marathon-img {
  width: 100%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .marathon-header,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .marathon-header {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  height: 10%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .date-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .date-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 10%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .date-cover .date,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .date-cover .date {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .time-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .time-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 10%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .time-cover .time,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .time-cover .time {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .location-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .location-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 16%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .location-cover .location,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .location-cover .location {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .contact-us-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .contact-us-cover {
  height: 10%;
}
.home-page-container .home-page-cover .home-events-cover .cards-cover .cards .card-right-cover .contact-us-cover .contact-us-btn,
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .card-right-cover .contact-us-cover .contact-us-btn {
  width: 92px;
  height: 40px;
  color: #ffffff;
  outline: none;
  border: none;
  background-color: #2b2b2b;
  font-size: 14px;
  font-weight: 400;
}
.home-page-container .home-page-cover .home-events-cover .event-mom-logo-cover,
.home-page-container .home-page-cover .home-videos-and-news-cover .event-mom-logo-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-page-container .home-page-cover .home-testimonial-cover {
  width: 100%;
  height: 50%;
  background-color: rgb(193, 190, 168);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left {
  width: 92%;
  background-color: #272727;
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0 0 10%;
  width: 90%;
  gap: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82%;
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper {
    width: 100%;
  }
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon {
  height: 74px;
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon .img {
  width: 74px;
  margin-left: 5%;
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon .author-name {
  font-size: 1em;
  color: white;
  margin-top: 10%;
  border-left: 2px solid #bd9255;
  padding-left: 6%;
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon {
    width: 100%;
    margin-top: 10%;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon img {
    width: 65px !important;
    margin-top: 5px;
  }
}
@media (max-width: 420px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon img {
    width: 60px !important;
    margin-top: 7px;
  }
}
@media (max-width: 770px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon {
    margin-top: 0;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    width: auto;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-icon {
    height: 65px;
  }
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author {
  font-size: 14px;
  width: 95%;
  text-align: left;
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author .para {
  color: white;
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author .para {
    width: "100%";
  }
}
@media (max-width: 450px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author .para {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author .para {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author .para {
    font-size: 12px;
    width: 89%;
  }
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper .clients-logo-wrapper-author {
    width: 100%;
  }
}
@media (max-width: 1072px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper {
    padding: 0px 0 0 5%;
  }
}
@media (max-width: 895px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper {
    height: 100px;
  }
}
@media (max-width: 770px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 93%;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .home-testimonial-cover .testimonial-left .clients-logo-wrapper {
    padding: 0px 0 0 1%;
  }
}
.home-page-container .home-page-cover .home-testimonial-cover .testimonial-right {
  width: 8%;
  background-color: #bd9255;
}
.home-page-container .home-page-cover .home-videos-and-news-cover {
  width: 100%;
  height: 75%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .heading {
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-left: 10%;
  padding-top: 2%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0% 6%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards {
  background-color: white;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .cards-img {
  height: 72%;
  width: 96%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .cards-img .thumbnail {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .cards-content {
  height: 28%;
  border: 1px solid #e0e0e0;
  width: 96%;
  padding: 4% 2%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .cards-content .title {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 3%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .cards-content .para {
  font-size: 12px;
  color: #84868b;
  height: 46%;
}
.home-page-container .home-page-cover .home-videos-and-news-cover .cards-cover .cards .cards-content .btn {
  width: 22%;
  height: 30%;
  background: black;
  color: white;
  font-size: 11px;
  border-radius: 4%;
  border: none;
  cursor: pointer;
}
.home-page-container .home-page-cover .home-join-community-cover {
  width: 100%;
  height: 37%;
  padding: 3% 10% 1% 10%;
}
.home-page-container .home-page-cover .home-join-community-cover .cover-line {
  border-bottom: 5px solid #bd9255;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover {
  text-align: center;
  padding: 1%;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover .join-cover-para {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 3%;
  color: #bd9255;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover .join-now-title {
  font-size: 65px;
  color: #000000;
  font-weight: 900;
  padding-bottom: 1%;
  letter-spacing: 55px;
  padding-left: 6%;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover .join-now-title span {
  color: red;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover .join-now-btn {
  background: #bd9255;
  border: none;
  color: white;
  padding: 1%;
  border-radius: 8%;
  cursor: pointer;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover .join-now-para {
  font-weight: 400;
  padding-bottom: 3%;
}
.home-page-container .home-page-cover .home-join-community-cover .join-now-cover .join-now-para p {
  text-transform: uppercase;
}
.home-page-container .home-page-cover .slide-container .back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .slide-container .back-button img {
    width: 12px;
  }
}
@media (max-width: 350px) {
  .home-page-container .home-page-cover .slide-container .back-button img {
    width: 10px;
  }
}
.home-page-container .home-page-cover .slide-container .next-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .slide-container .next-button img {
    width: 12px;
  }
}
@media (max-width: 350px) {
  .home-page-container .home-page-cover .slide-container .next-button img {
    width: 10px;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main {
  width: 86%;
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 12px 20px;
  position: relative;
  border-radius: 100px 0px 100px 0px;
  overflow: hidden;
  z-index: 9;
  -webkit-box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1019607843);
          box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1019607843);
  background: #ffffff;
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper {
  border-radius: 0px 50px;
  padding-bottom: 20px;
  width: 100%;
  padding-left: 3%;
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper {
  width: 100%;
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .clients-content-wrapper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .clients-content-wrapper-image {
    margin-left: 7%;
  }
}
@media (max-width: 983px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .clients-content-wrapper-image {
    margin-left: 10px;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
  padding: 0% 0% 0% 7%;
  width: 93%;
  height: 250px;
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc p {
  text-align: left;
}
@media (max-width: 667px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc p {
    line-height: 1.7;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc p .fade {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1161px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    padding: 0% 0% 0% 5%;
    min-height: 300px;
    font-size: 16px;
  }
}
@media (max-width: 1072px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    padding: 0% 0% 0% 5%;
    min-height: 320px;
    font-size: 16px;
  }
}
@media (max-width: 895px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    min-height: 350px;
  }
}
@media (max-width: 822px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    font-size: 14px;
  }
}
@media (max-width: 489px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    font-size: 13px;
    min-height: 373px;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    padding-left: 5px;
    width: 100%;
    padding-right: 10px;
  }
}
@media (max-width: 401px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    font-size: 13px;
    min-height: 405px;
  }
}
@media (max-width: 369px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    font-size: 13px;
    min-height: 420px;
  }
}
@media (max-width: 359px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    font-size: 13px;
    min-height: 440px;
    padding-bottom: 0;
  }
}
@media (max-width: 335px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .home-clients-wrapper .clients-content-wrapper .client-desc {
    font-size: 12px;
    min-height: 450px;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0 0 7%;
  width: 93%;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper {
    width: 100%;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-icon {
  height: 74px;
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-icon {
    width: 100%;
    margin-top: 10%;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-icon img {
    width: 65px !important;
    margin-top: 5px;
  }
}
@media (max-width: 420px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-icon img {
    width: 60px !important;
    margin-top: 7px;
  }
}
@media (max-width: 770px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-icon {
    margin-top: 0;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    width: auto;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-icon {
    height: 65px;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author {
  font-size: 14px;
  width: 95%;
  text-align: left;
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .author-heading {
  font-size: 1.5em;
}
@media (max-width: 770px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .author-heading {
    font-size: 20px;
  }
}
@media (max-width: 565px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .author-heading {
    margin-top: 0px;
    font-size: 3.5vw;
  }
}
@media (max-width: 445px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .author-heading {
    margin-top: 0px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .para {
    width: "100%";
  }
}
@media (max-width: 450px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .para {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .para {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author .para {
    font-size: 12px;
    width: 89%;
  }
}
@media (max-width: 768px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author {
    width: 100%;
  }
}
@media (max-width: 557px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper .clients-logo-wrapper-author {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
  }
}
@media (max-width: 1072px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper {
    padding: 0px 0 0 5%;
  }
}
@media (max-width: 895px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper {
    height: 100px;
  }
}
@media (max-width: 770px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section .clients-logo-wrapper {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    width: 93%;
  }
}
@media (max-width: 1782px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 475px;
  }
}
@media (max-width: 1514px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 485px;
  }
}
@media (max-width: 1316px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 505px;
  }
}
@media (max-width: 1138px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 535px;
  }
}
@media (max-width: 1034px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 560px;
  }
}
@media (max-width: 983px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    padding: 12px 0px;
  }
}
@media (max-width: 901px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 590px;
  }
}
@media (max-width: 822px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 580px;
  }
}
@media (max-width: 784px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 580px;
  }
}
@media (max-width: 775px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 635px;
  }
}
@media (max-width: 770px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 635px;
  }
}
@media (max-width: 692px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 685px;
  }
}
@media (max-width: 667px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 605px;
  }
}
@media (max-width: 581px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 635px;
  }
}
@media (max-width: 505px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 675px;
  }
}
@media (max-width: 489px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 616px;
  }
}
@media (max-width: 403px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 672px;
  }
}
@media (max-width: 370px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 619px;
  }
}
@media (max-width: 345px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section {
    height: 655px;
  }
}
.home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section:hover {
  -webkit-box-shadow: 18px -18px #a5b1ff, 0 8px 40px -5px rgba(9, 31, 67, 0.1019607843);
          box-shadow: 18px -18px #a5b1ff, 0 8px 40px -5px rgba(9, 31, 67, 0.1019607843);
  -webkit-transition: 500ms;
  transition: 500ms;
}
@media (max-width: 565px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section:hover {
    -webkit-box-shadow: 20px -20px #a5b1ff, 0 8px 40px -5px rgba(9, 31, 67, 0.1019607843);
            box-shadow: 20px -20px #a5b1ff, 0 8px 40px -5px rgba(9, 31, 67, 0.1019607843);
  }
}
@media (max-width: 667px) {
  .home-page-container .home-page-cover .slide-container .home-client-main .home-clients-section:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (max-width: 667px) {
  .home-page-container .home-page-cover .slide-container .home-client-main {
    width: auto;
  }
}
@media (max-width: 932px) {
  .home-page-container .home-page-cover .slide-container {
    gap: 35px;
  }
}
@media (max-width: 565px) {
  .home-page-container .home-page-cover .slide-container {
    gap: 30px;
  }
}
@media (max-width: 667px) {
  .home-page-container .home-page-cover .slide-container {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .home-page-container .home-page-cover .slide-container {
    gap: 5px;
  }
}/*# sourceMappingURL=styles.css.map */