.user-scheme-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1b8b8;
    border-radius: 5px;
    overflow: hidden;
  }
  .user-gold-scheme-img-one-cover {
    width: 100%;
    height: 280px;
    background-image: url("../../../Assets/Images/goldSchemeCovered.svg");
    background-size: cover;
    background-position: center;
  }
  .user-gold-scheme-img-two-cover {
    width: 100%;
    height: 511px;
    background-image: url("../../../Assets/Images/Rectangle.svg");
    background-size: cover;
    display: flex;
    .user-gold-scheme-img-two-text-cover {
      width: 50%;
      .user-text-one-cover {
        display: flex;
        align-items: center;
        justify-content: end;
        color: #bd9255;
        font-size: 24px;
        height: 10%;
      }
      .user-text-two-cover {
        font-size: 55px;
        color: #bd9255;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        gap: 10%;
        .user-header-two {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .user-header-three {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .user-header-four {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .user-gold-scheme-user-details-cover {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .info {
        color: #bd9255;
        font-size: 18px;
        font-weight: 400;
        padding: 3%;
        display: flex;
        width: 20rem;
        justify-content: space-between;
        .info-data {
          font-size: 18px;
          font-weight: 500;
          padding-left: 8px;
          text-transform: capitalize;
        }
        .edit-user-btn {
          all: unset;
          width: 122px;
          height: 40px;
          background-color: #000000;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          border: 1px solid #000000;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
  .user-scheme-plan-info-cover {
    width: 100%;
    height: 300px;
    background-color: #ebeff3;
    color: #bd9255;
    padding: 2%;
    .user-scheme-plan-info-wrapper {
      border: 1px solid #bd9255;
      font-size: 12px;
      padding: 2%;
      line-height: 20px;
      border-radius: 5px;
      background-color: #f8f8f8;
    }
  }
  .user-scheme-details-cover {
    width: 100%;
    height: 480px;
    background-color: #ebeff3;
    .user-scheme-header {
      height: 10%;
      font-size: 40px;
      font-weight: 500;
      color: #bd9255;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user-scheme-table-cover {
      display: flex;
      width: 100%;
      height: 90%;
      .user-scheme-table-wrapper {
        width: 50%;
        height: 100%;
        padding: 1% 2%;
        .table-header {
          font-size: 14px;
          font-weight: 500;
          color: #bd9255;
          margin-bottom: 6px;
        }
        table {
          width: 100%;
          border-collapse: collapse;
          border: 1px solid #bd9255;
          border-radius: 5px;
          font-size: 14px;
          background-color: #ffffff;
          thead {
            tr {
              color: #bd9255;
            }
          }
          tbody {
            tr {
              color: #444444;
            }
          }
          th,
          td {
            padding: 8px;
            text-align: left;
          }

          th {
          }

          tbody tr:last-child {
            font-weight: 500;
          }

          td:last-child {
            white-space: nowrap;
          }
        }
      }
      .user-scheme-form-cover {
        width: 50%;
        height: 100%;
        padding: 1% 2%;
      }
      .user-scheme-form {
        height: 50%;
        .scheme-payee-label-cover {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 14px;
          font-weight: 500;
          color: #bd9255;
          .scheme-payee-input {
            all: unset;
            border: 1px solid #bd9255;
            height: 30px;
            border-radius: 3px;
            width: 563px;
            height: 40px;
            padding: 3px 5px;
            background-color: #ffffff;
            &::placeholder {
              color: #aeaeae;
            }
          }
        }
        .scheme-payee-contact-label-cover {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 14px;
          font-weight: 500;
          color: #bd9255;
          .scheme-payee-contact-number-input {
            all: unset;
            border: 1px solid #bd9255;
            height: 30px;
            border-radius: 3px;
            width: 269px;
            height: 40px;
            padding: 3px 5px;
            background-color: #ffffff;

            &::placeholder {
              color: #aeaeae;
            }
          }
        }
        .scheme-payee-period-label-cover {
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 14px;
          font-weight: 500;
          color: #bd9255;
          .scheme-payee-period-select {
            all: unset;
            border: 1px solid #bd9255;
            height: 40px;
            border-radius: 3px;
            width: 269px;
            padding: 3px 5px;
            background-color: #ffffff;

            &::placeholder {
              color: #aeaeae;
            }
          }
        }
        .scheme-btn-cover {
          display: flex;
          align-items: center;
          gap: 2%;
          margin-top: 20px;
          .join-scheme-btn {
            all: unset;
            width: 92px;
            height: 40px;
            text-transform: capitalize;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            &.cancel {
              border: 1px solid #444444;
              color: #444444;
              background-color: #ffffff;
            }
            &.pay {
              color: #ffffff;
              border: 1px solid #000000;
              background-color: #000000;
            }
          }
        }
      }
      .payment-method-cover {
        margin-top: 20px;

        .payment-text {
          font-size: 14px;
          font-weight: 500;
          color: #bd9255;
        }
        .btn-cover {
          display: flex;
          gap: 2%;
          margin-top: 5px;
          .pay-label {
            color: #444444;
            font-size: 14px;
            font-weight: 400;
            .pay-text {
              padding-left: 3px;
            }
          }
        }
      }
    }
  }
}
