.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  .main-header-container {
    height: 100%;
    width: 100%;
    /* display: flex; */
    .home-render-routes-cover {
      width: 100%;
      height: 93%;
      display: flex;
    }

    .rendering-routes-components {
      height: 100%;
      width: 100%;
    }
  }
}
