.events-container {
  width: 100%;
  height: 100%;
}
.events-container .add-event-cover .add-event-inner-cover {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 20px;
}
.events-container .add-event-cover .add-event-inner-cover .event-header {
  width: 100%;
  height: 10%;
  color: #bd9255;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.events-container .add-event-cover .add-event-inner-cover .add-event-header {
  width: 100%;
  height: 10%;
  color: #bd9255;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .event-logo-upload-img {
  width: 9rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-image: url("../../../../Assets/Images/guestUser.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .event-logo-upload-img .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .event-logo-upload-img .plus-img-cover {
  position: absolute;
  top: 36%;
  right: 0;
  z-index: 1;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover {
  height: 8%;
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover .cancel {
  all: unset;
  text-align: center;
  cursor: pointer;
  background: none;
  border-radius: 4px;
  width: 92px;
  height: 40px;
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
  font-size: 14px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover .save {
  all: unset;
  text-align: center;
  cursor: pointer;
  background-color: #2b2b2b;
  border-radius: 4px;
  width: 92px;
  height: 40px;
  color: #ffffff;
  border: 1px solid #2b2b2b;
  font-size: 14px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover {
  width: 75%;
  height: 100%;
  padding-top: 2rem;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-label-cover {
  margin-bottom: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #bd9255;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-label-cover .event-name-input {
  all: unset;
  border: 1px solid #bd9255;
  width: 569px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-date-cover {
  margin-bottom: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #bd9255;
  margin-left: 2rem;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-date-cover .event-date-input {
  all: unset;
  border: 1px solid #bd9255;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-label-cover {
  margin-bottom: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #bd9255;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-label-cover .event-title-input {
  all: unset;
  border: 1px solid #bd9255;
  width: 569px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-time-cover {
  margin-bottom: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  font-size: 16px;
  color: #bd9255;
  margin-left: 2rem;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-time-cover .event-time-input {
  all: unset;
  border: 1px solid #bd9255;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover {
  margin-bottom: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #bd9255;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover .event-location-text-area {
  all: unset;
  border: 1px solid #bd9255;
  width: 571px;
  height: 75px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover .event-location-text-area::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover .event-location-text-area::-webkit-scrollbar-thumb {
  background: #bd9255;
  border-radius: 5px;
  overflow: hidden;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover {
  margin-bottom: 15px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #bd9255;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover .event-description-text-area {
  all: unset;
  border: 1px solid #bd9255;
  width: 760px;
  height: 98px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover .event-description-text-area::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover .event-description-text-area::-webkit-scrollbar-thumb {
  background: #bd9255;
  border-radius: 5px;
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */