.events-container {
  width: 100%;
  height: 100%;
}
.events-container .add-event-cover {
  height: 55%;
  padding: 20px;
}
.events-container .add-event-cover .add-event-inner-cover .event-header,
.events-container .add-event-cover .add-event-inner-cover .add-event-header {
  color: #bd9255;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.events-container .add-event-cover .add-event-inner-cover .event-header {
  text-transform: uppercase;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 60px);
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .event-logo-upload-img {
  width: 9rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: url("../../../../Assets/Images/guestUser.svg") center no-repeat;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .event-logo-upload-img .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .event-logo-upload-img .plus-img-cover {
  position: absolute;
  top: 36%;
  right: 0;
  z-index: 1;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover button {
  all: unset;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 92px;
  height: 40px;
  font-size: 14px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover button.cancel {
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .event-input-field-img-cover .events-btn-cover button.save {
  background-color: #2b2b2b;
  color: #ffffff;
  border: 1px solid #2b2b2b;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover {
  width: 75%;
  height: 100%;
  overflow-y: auto;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover::-webkit-scrollbar-thumb {
  background: #bd9255;
  border-radius: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-bottom: 15px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-label-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-date-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-time-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-label-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-date-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-time-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #bd9255;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-label-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-date-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-time-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-label-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-date-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-time-cover input {
  all: unset;
  border: 1px solid #bd9255;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-label-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-label-cover input {
  width: 569px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-date-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-name-cover .event-time-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-date-cover input,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-title-cover .event-time-cover input {
  width: 160px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover {
  margin-bottom: 15px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover label,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #bd9255;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover label textarea,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover label textarea {
  all: unset;
  border: 1px solid #bd9255;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  resize: vertical;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover label textarea::-webkit-scrollbar,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover label textarea::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover label textarea::-webkit-scrollbar-thumb,
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover label textarea::-webkit-scrollbar-thumb {
  background: #bd9255;
  border-radius: 5px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-location-cover textarea {
  width: 571px;
  height: 75px;
}
.events-container .add-event-cover .add-event-inner-cover .event-input-field-cover .events-input-filed-cover .event-description-cover textarea {
  width: 760px;
  height: 98px;
}
.events-container .events-cards-cover {
  height: 25%;
  padding: 20px;
  border-top: 1px solid #bd9255;
}
.events-container .events-cards-cover .cards-event-header {
  color: #bd9255;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.events-container .events-cards-cover .cards-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.events-container .events-cards-cover .cards {
  width: 350px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  background-color: #000000;
}
.events-container .events-cards-cover .cards .card-left {
  width: 7%;
  background-image: url("../../../../Assets/Images/cardLabelSide.svg");
}
.events-container .events-cards-cover .cards .card-right {
  width: 93%;
  padding: 3%;
}
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-right-header {
  margin-bottom: 10px;
}
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-right-header .header-text {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  background-color: #bd9255;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-img-cover {
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-img-cover .card-event-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-title,
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-date,
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-time,
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-location {
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-title svg,
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-date svg,
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-time svg,
.events-container .events-cards-cover .cards .card-right .card-right-inner-cover .card-event-location svg {
  margin-right: 5px;
}
.events-container .pagination-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.events-container .pagination-controls .pagination-button {
  all: unset;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #bd9255;
  color: white;
  border-radius: 4px;
  margin: 0 10px;
}
.events-container .pagination-controls .pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.events-container .pagination-controls .page-indicator {
  font-size: 14px;
  color: #bd9255;
}/*# sourceMappingURL=styles.css.map */