.order-page-main-container {
  width: 100%;
  height: 100%;
  background-color: #ebeff3;

  .order-page-main-wrapper {
    width: 100%;
    height: 100%;
    .order-page-svg-cover {
      width: 100%;
      height: 50%;
      .order-page-svg-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .order-page-img {
          width: 25%;
          height: auto;
        }
      }
    }
    .order-page-header-description-cover {
      width: 100%;
      height: 30%;
      .order-page-header-text-wrapper {
        width: 100%;
        height: 40%;
        text-align: center;
        .order-page-description-text-cover {
          width: auto;
          height: 29%;
          display: flex;
          align-items: center;
          justify-content: center;
          .order-page-description {
            color: #5e5e5e;
            font-size: 20px;
            font-weight: 500;
          }
        }
        .order-page-header-text-cover {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          .order-page-header {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0e244a;
            font-size: 30px;
            font-weight: 800;
          }
        }
      }
      .back-store-cover {
        height: 60%;
        display: flex;
        justify-content: center;
        .back-store-btn {
          width: 98px;
          height: 42px;
          border: 1px solid #2b2b2b;
          color: #ffffff;
          padding: 0px 5px;
          background-color: #2b2b2b;
          border-radius: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
